@model List<Toy>

<title>All Toyes</title>
<a asp-controller="Order" asp-action="All" class="btn btn-Primary">Go To Cart</a>

@{
    if (ViewBag.Cards==true)
    {
        
        foreach(var item in Model)
        {
            <partial name="_ProductsInCards" model="item" />
        }
    }
    else
    {
        <h3>Admins only can see this view </h3>
        <a asp-controller="Toy" asp-action="Add" class="btn btn-secondary">Add Toy</a>
        <a asp-action="ViewInCards" class="btn btn-primary">Cards View</a>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr class="thead-dark">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Discription</th>
                    <th>Price</th>
                    <th>Gender For </th>
                    <th>Available</th>
                   
                </tr>
            </thead>
            <tbody>
                @{
                    string[] arr = { "table-success", "table-danger", "table-info", "table-warning", "table-active" };
                    int counter = -1;
                }
                @foreach (var item in Model)
                {
                    if (counter == 4) { counter = -1; }
                    counter++;
                    <tr class="@arr[counter]">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Discription</td>
                        <td>@item.Price</td>

                        <td>@item.GenderFor</td>

                        @{
                            if (item.InStock == true)
                            {
                                <td style="color:green">Available</td>
                            }
                            else
                            {
                                <td style="color:red">Out of Stock</td>
                            }
                        }

                        <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a></td>
                        <td><a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>